if test -x /opt/homebrew/bin/brew
    /opt/homebrew/bin/brew shellenv fish | source
end

if test {{ .chezmoi.os }} = darwin
    set -gx EDITOR "nova --wait"
end

if status is-interactive
    set -l chezmoi_fish_dir "$HOME/.config/fish/chezmoi"
    set -g chezmoi_profile {{ index . "brewProfile" | default "common" }}

    set -l chezmoi_fish_profiles common
    switch "$chezmoi_profile"
        case personal work
            set --append chezmoi_fish_profiles "$chezmoi_profile"
    end

    for profile in $chezmoi_fish_profiles
        for file in "$chezmoi_fish_dir"/$profile/*.fish
            source "$file"
        end
    end
end
